body{
    font-family: "Atkinson Hyperlegible";
    background-color: black; 
}

.imlogo{
    width: 50px;
    height: 50px;
}

/*========================= Bilboard section ========================*/
.bilboard{
    background:  linear-gradient(to right, rgba(230, 92, 0, 0.15), rgba(249, 212, 35, 0.35)),url('Images/2020-Blog-Post-Covers-2-1.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}
.bilboard h1{
    font-size:5em;
    font-weight: 600;
}
@media(max-width: 1000px){
    .bilboard h1{
        font-size: 4em;
    }
}
@media(max-width: 750px){
    .bilboard h1{
        font-size: 3em;
    }
}

@media(max-width: 400px){
    .bilboard h1{
        font-size: 2.7em;
    }
}

.bilboard h1 span{
    color: rgb(255, 165, 0);
    text-shadow: 3px 3px 2px #000;
}
p i{
    display: block;
    font-size: 1.2em;
    margin-top: 2rem;
    font-weight: bold;
}


.btn {
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}

.btn {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 50px;
    display: block;
    border: 0px;
    font-weight: 400;
    font-family:Atkinson Hyperlegible ;
    box-shadow: 0px 3px 5px #f09819;
}

.btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn:active {
transform: scale(0.95);
}
.btnlink{
    text-decoration: none;
}

/*====================== Cards section =====================*/

.cards{
    background-color: orange;
}
.bold{
    font-size: 3.5em;
    font-weight: bold;
}

/*======================= Mission section ==============================*/
.text-orange{
    color: orange;
}
.figurepara1{
    font-size: 1.5em;
    font-family:Atkinson Hyperlegible ;
    color: white;
    line-height: 2em;
    margin-top: 0;
}
.img-float img{
    float: right;
}
.figurepara2{
    font-size: 1.5em;
    color: white;
    font-family:Atkinson Hyperlegible ;
    line-height: 2em;
}
.footerall{
    background-color: whitesmoke;
    padding: 1em;
    font-size: 15px;
}
.fa-twitter{
    color: rgb(33, 177, 243);
    font-size: 25px;
    margin-left: 30px;

}
.fa-instagram{
    color: black;
    font-size: 30px;
    margin-left: 15px;
}

a{
    color: none;
    text-decoration: none;
}